@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>This page is designed only for humor jokes.</ul>
<li>Any use of racist words wont be tolerated</li>
<li>Any use of dark humor ment with disrespect wont be telerated</li>
<li>Writing should be only in english!</li>

